.ip {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.delete-icon {
  margin-right: 8px;
  cursor: pointer;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}